<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094155102432-9tp57mecpt3j9q9ehtjal01teetr0467.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094155102432-9tp57mecpt3j9q9ehtjal01teetr0467</string>
	<key>API_KEY</key>
	<string>AIzaSyAiFvi1XvqmtESX6g3ivFYn5lgI01EVAlE</string>
	<key>GCM_SENDER_ID</key>
	<string>1094155102432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.muni.fi.pv239.sportBuddy</string>
	<key>PROJECT_ID</key>
	<string>pv239-sport-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>pv239-sport-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094155102432:ios:8e30f06d3901f9f6290885</string>
</dict>
</plist>